<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	      <link href="/stylesheets/nav.css" rel="stylesheet">
  <link href="/team.css" rel="stylesheet">
    <title>EcoBrigade</title>
  </head>
  <body>
     <%- include("./partials/navbar") %>  
	  <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589140504/WhatsApp_Image_2020-05-11_at_00.52.15_pjirkh.jpg" alt="card image"></p>
                                    <h4 class="card-title">Kartikey Tiwari</h4>
									<p class="card-text"><strong>Chief Executive Officer </strong></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text">Kartikey Tiwari is EcoBrigade's Chief Executive Officer, leading the company as it builds on the foundation of dreams it was envisioned upon. Kartikey specializes in Machine Learning and Data Science. Kartikey graduated in 2021 and established the startup the same year. He has a deep commitment to community and civic engagement. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/kartikey.tiwari.188">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/definitely_not_a_coder/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589141014/WhatsApp_Image_2020-05-11_at_00.54.20_b33gax.jpg" alt="card image"></p>
                                    <h4 class="card-title">Khushnuma Grover</h4>
                                    <p class="card-text"><strong>Chief Finance Officer </strong></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text">Khushnuma is EcoBrigade’s CFO, bringing her financial experience to EcoBrigade. She’s responsible for overseeing our financial operations.At EcoBrigade, she led efforts that strengthened operating efficiency and helped the company through a transformative period and a return to growth.Khushnuma was among the founding members of the EcoBrigade </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/khushnuma.grover">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/khushnumagrover/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589141012/IMG-20190716-WA0000_msgksp.jpg" alt="card image"></p>
                                    <h4 class="card-title">Piyush Agarwal</h4>
                                    <p class="card-text"><strong>Chief Technology Officer </strong></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text">Piyush is EcoBrigade’s Chief Technology Officer, setting our technology strategy and helping to further scale our platform. Prior to joining EcoBrigade, he was the technical head and managing partner of the OWASP. Piyush’s career in technology has also included the roles of Chief Technology Officer of Microsoft Chapter.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/piyushnoida">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/piyushagru/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589141019/WhatsApp_Image_2020-05-10_at_22.05.18_zhs11d.jpg" alt="card image"></p>
                                    <h4 class="card-title">Katinder Kaur</h4>
                                    <p class="card-text"><strong>Chief Marketing Officer </strong></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text">Katinder Kaur is our Chief Marketing Officer, bringing her marketing and e-commerce experience to EcoBrigade. She leads the company's digital marketing, advertising, communications, brand, market research and international growth initiatives, elevating EcoBrigade to new customers around the region and deepening engagement within our existing community.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/kat_meets_world_/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589141017/WhatsApp_Image_2020-05-10_at_21.39.03_v6fjdi.jpg" alt="card image"></p>
                                    <h4 class="card-title">Kriti Pandey</h4>
                                    <p class="card-text"><strong>Chief Product Officer</strong></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text">Kriti Pandey is our Senior Vice President of Product. She is responsible for managing product development, overseeing the tools and services that enable our sellers build creative businesses and our buyers to have excellent experiences.Kriti has held many integral roles at EcoBrigade from managing our Seller Services platform and building our Business & Corporate Development function. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/kriti.pandey.737">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/kritip22/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589141020/Medha_ctl3k9.jpg" alt="card image"></p>
                                    <h4 class="card-title">Medhashree Basnet</h4>
                                    <p class="card-text"><strong>Senior Vice President of People, Strategy, and Services</strong></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text">Medhashree is EcoBrigade’s Senior Vice President of People, Strategy and Services. In this role, her mission is to develop and enable EcoBrigade’s strategy by delivering exceptional service and experiences for both employees and customers. Her team includes People & Workplace, Strategy and Corporate Development, Member Operations and Trust & Safety.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/medhashree.basnet">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/medhashree/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
  </body>
</html>