<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="footer, address, phone, icons" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link href="/stylesheets/app.css" rel="stylesheet">
	
    <script src="https://kit.fontawesome.com/0fd0fa0034.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">

    <title>EcoBrigade</title>
  </head>
  
  <body>
    <%- include("./partials/navbar") %>  
<div id="landing-header">
    <h1>Welcome to EcoBrigade!</h1>
    <a href="/book" class="btn btn-lg btn-success">Book us NOW</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>





<div class="container text-center">
<div class="jumbotron"> 
          <h1 class="display-4">OUR MISSION</h1> 
          <h3 class="font-weight-normal">We aim to minimize indoor air pollution by providing home service of installing varieties of indoor plants that absorb indoor air pollutants and minimize indoor air pollution.</h3> 
         
          <!-- <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a></p>  -->
        </div>
      </div>

      <section class="container-fluid px-0">
         <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Our team will conduct a pollution test using an indoor air quality monitor and other useful methods to test the quality of the air in your home which  will help shine some light on prevalent Indoor Air Quality (IAQ) issues</h2>
                         <div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow "></div>
    <div class="box-sm green "></div>
    <div class="box-sm blue "></div>
   <div class="box-sm purple"></div> 
  </div>

                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://source.unsplash.com/5EnPNw_9xSc" alt="" class="img-fluid" id="image1">
            </div>
        </div>


        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="https://source.unsplash.com/LSjsl6IzBEc" alt="" class="img-fluid" id="secondimage">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Our designers will suggest and provide indoor plants that need to be installed in order to improve interior designs of room and Indoor Air Quality as well as their regular maintenance at reasonable prices</h2>
                        <div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow "></div>
    <div class="box-sm green "></div>
    <div class="box-sm blue "></div>
    <div class="box-sm purple"></div>
  </div>

                    </div>
                </div>
            </div>
        </div>
<section class="testimonial text-center">
        <div class="container">

            <div class="heading white-heading">
                WE CARE, WE PROMISE, WE DELIVER
            </div>
            <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
             
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589296972/WhatsApp_Image_2020-05-12_at_20.45.26_1_iuthow.jpg" class="img-circle img-fluid">
                            <p>"Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team."</p>
                            <h4>Vinayak Tiwari, Co-Founder, Shimmers Associate</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589296951/WhatsApp_Image_2020-03-13_at_17.37.56_ttu5nq.jpg" class="img-circle img-fluid"><p>"EcoBrigade has made such a difference in our apartment. I found them online and set up a consultation. I explained to the designer that I knew nothing about plants or how to care for them. I explained to her I wanted to have plants that were low maintenance, and that provided more air purification, some colorful, etc. She suggested a plan that she thought best fit for our space. Each plant she picked was perfect and looked amazing."</p>
                            <h4>Krishna Sharma, Professor, Patiala College of Arts</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589296973/WhatsApp_Image_2020-05-12_at_20.45.26_vvo99j.jpg" class="img-circle img-fluid">
                            <p>"EcoBrigade has turned our apartment into a tasteful plant paradise. Simply and creatively designed, our interesting assortment of greenery and containers add a whole new dimension to our home. The design, installation, service and maintenance have been impeccable. I heartily recommend EcoBrigade to anyone interested in obtaining assistance with their plants.,<br> thoughtful, and professional team."</p>
                            <h4>Hanraj Mehta, Editor-in-chief, Patiala Times</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>
		  
		  
		  
   
   <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Here is how it works</h2>
            </div>

            <div class="feature-box">
                <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589042967/icon2_jkxifx.webp" alt="Easy to Use">
                <h5>Site Visit</h5>
                <p>A site visit is the first step in the process. During the visit we’ll assess your lighting and other environmental conditions and will conduct a Indoor pollution test along with talking though your ideas and vision for the space.</p>
            </div>

            <div class="feature-box">
                <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589042967/icon3_abnbyd.png" alt="Fun to Use">
                <h5>Interior Design</h5>
                <p>After this initial consultation and analysing pollution test we’ll create a proposal that contains design inspiration a"nd an estimated number of hours to complete the project. We will offer customized pots which will match the interior design of rooms.</p>
            </div>

            <div class="feature-box">
                <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589042969/icon1_qwqazt.png" alt="Fun to Use">
                <h5>Regular Maintenance</h5>
                <p>We will be provide complimentary maintenance service of plants over period of 1 month which will later be chargable at a minimal price in case you wish to continue obtaining our services.</p>
            </div>

        </div>
        </div>


    <section id="interior" class="ml-2">
      <h1 class="ml-5">FEATURED INTERIORS</h1>
      
    </section>
    <ul id="rig">
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/heEPoapeiVk">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/gwl0Q83cX48">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/btK6EUoh8Tc">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/kXVRjRX-JJQ">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/f3e9p4_lqRw">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/F2_7Nr6x9e4">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/kuDRlKfjvAc">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/TGyob0Thtz4">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/z5ibquWrAoc">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/7f1bI2hLDWo">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/VG6hZVUxgDw">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" >
            <img class="rig-img" src="https://source.unsplash.com/Ox4Ps_PH8Ss">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
</ul>

   
<footer class="footer-distributed">
 
      <div class="footer-left">
          <img src="https://res.cloudinary.com/ktiwaribe17/image/upload/v1589042968/icon_uiwlqg.jpg">
        <h3>About<span>EcoBrigade</span></h3>
 
       
 
        <p class="footer-company-name">© 2019 EcoBrigate Home Decor Pvt. Ltd.</p>
      </div>
 
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
            <p><span>Flat F6,Royal Villa Rani Sati Nagar</span>
            Jaipur, Rajasthan - 302018</p>
        </div>
 
        <div>
          <i class="fa fa-phone"></i>
          <p>+91 9001378117</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@eduonix.com">support@ecobrigade.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          Currently operation in 3 centres, booking can be done either through website or customer references</p>
        <div class="footer-icons">
          <a href="https://www.facebook.com/kartikey.tiwari.188"><i class="fa fa-facebook"></i></a>
         
          <a href="https://www.instagram.com/definitely_not_a_coder/"><i class="fa fa-instagram"></i></a>
          
        </div>
      </div>
    </footer>	  




<%- include("./partials/footer") %>