 <%- include("./partials/header") %>

<section class="service">
        <div class="container">
            <div class="row">
                
                    <div class="col-xl-3 col-lg-3 col-md-6 col-12 Services-tab  item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-houzz fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3> Home Visit</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>Our team will schedule a personnel home visit to your house in order to inspect the place and will talk through your ideas and vision for the space and will consider all your needs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-lightbulb-o fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3> Consultancy</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>We will provide essential consult and advise you on any subjects of your new home and office and allso when you are in the process of making decision regarding re-designing your place.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-check-double fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3> Pollution Check</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>We will conduct a full-house pollution check in order to find out current state of your space and quality of air. Further we will use our anylsis in order to formulate counter measures</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-image fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3> Designing</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>We will work with interior designers to get the perfect design which will make your house or workspace aesthetic and pleasing. We will provide you with several options of great designs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-pagelines fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3>Plants and Pot Selection</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>We will find the best suited the perfect plants and pots for you which will not only beautify your space but will also bring down air pollution inside</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-mobile fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3>Mobile Apps</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>We can be contacted easily through our app and website, As soon as our services are booked, our team will instantly make contact with you and will schedule a house vist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-wrench fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3>Maintenance </h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>We will provide maintenance for newly installed plants. Care in initial days are very crucial and our team will be providing you free maintenance for 1 month and chargable onwards.
								</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12 Services-tab item">
                        <div class="folded-corner service_tab_1">
                            <div class="text">	<i class="fa fa-bullhorn fa-5x fa-icon-image"></i>
                                <p class="item-title"></p>
                                <h3>Customised Packages</h3>
                                <p></p>
                                <!-- /.item-title -->
                                <p>EcoBrigade will provide you tailor-made packages and will personalize the services that will help meet the needs of the customers</p>
                            </div>
                        </div>
                    </div>
                
	</div>
        </div>
   </section>
 <%- include("./partials/footer") %>